<app-loading *ngIf="loading"></app-loading>

<div class="row" *ngIf="!loading">
  <div class="col-2">
    <img [src]="artist.images | noimage" alt="artist image" class="img-thumbnail img-circle">
  </div>
  <div class="col">
    <h3>{{artist.name}}</h3>
    <a [href]="artist.external_urls.spotify" target="_blank">
      Visit artist profile on spotify web
    </a>
  </div>
  <div class="col-4 text-rigth">
    <button routerLink="/search" routerLinkActive="router-link-active" class="btn btn-outline-light">Back</button>
  </div>
</div>

<div class="row mt-5">
  <div class="col">
    <table class="table table-hover table-dark grey-background border-less">
      <thead>
        <tr>
          <th scope="col">Cover</th>
          <th scope="col">Album</th>
          <th scope="col">Song</th>
          <th scope="col">Preview</th>
        </tr>
      </thead>
      <tbody >
        <tr *ngFor="let x of tracks">
          <th scope="row">
            <img [src]="x.album.images | noimage" alt="album cover" class="img-thumb">
          </th>
          <td>{{x.album.name}}</td>
          <td>{{x.name}}</td>
          <td>
            <!-- <audio [src]="x.preview_url" controls></audio> -->
            <iframe [src]="x.uri | domseguro" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
